doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  include ../partials/stylesheet
  include ../partials/javascript
  title Weather
.widget
  .left-panel.panel
    .date Monday, 20 Aug 2018
    .city Mumbai
    .temp
      img(src='https://s5.postimg.cc/yzcm7htyb/image.png' alt='' width='60')
      |           27&deg;
  .right-panel.panel
    img(src='https://s5.postimg.cc/lifnombwz/mumbai1.png' alt='' width='160')
// footer
.contact
  a(href='https://www.instagram.com/minhlacoong/' target='_blank')
    i.fab.fa-instagram
  a(href='https://github.com/tranchiencongtd' target='_blank')
    i.fab.fa-github
  a(href='https://www.facebook.com/congngusi' target='_blank')
    i.fab.fa-facebook-square
